# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
!pom.xml
out
gen
dependency-reduced-pom.xml
target/
/src/main/resources/data/
